*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #00ff48;
}

body{
    width: 100%;
    height: 100vh;
    background-image: url(Picsart_26-01-07_22-50-58-609.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

h1{
    margin-top: 150px;
    font-size: 40px;
    font-weight: bold;
    color: #00ff48;
    text-align: center;
    text-shadow: 0 0 20px #000000;
    
}

p{
    margin: 20px;
    font-size: 25px;
    text-shadow: 0 0 20px #000000;
    color: #00ff7b;
}
#audioInput{
    width: 350px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #000;
    padding: 10px;
    margin: 40px 10px 20px 10px;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    background-color: #fff9f9;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    top: 20%;
}

#audioInput:hover{
    background-color: #000;
    color: #fff;
}

.upload-btn{
    margin-top: 20px;
    padding: 12px 30px;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    background: linear-gradient(135deg, #00ff7b, #22ff00);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 255, 120, 0.6);
    transition: all 0.3s ease;
}


.upload-btn:hover{
    transform: scale(1.02);
    background: linear-gradient(135deg, #00c853, #00ff7b);
    box-shadow: 0 0 20px rgba(0, 255, 120, 0.9);
}

.upload-btn:active{
    transform: scale(0.95);
    box-shadow: 0 0 15px rgba(0, 255, 120, 0.6);
}

.upload-btn:focus{
    outline: none;
    box-shadow: 0 0 40px rgba(0, 255, 120, 1);
}

